body {
    background-color: lightblue;
}
table, td, th {
    border: 1px solid black;
	color:red;
	background-color: yellow;
}
img {
    border-radius: 50%;
}
img {
    float: right;
    margin: 0 0 10px 10px;
}
h1 {
    text-shadow: 2px 2px;
}
